In [2]:
import pandas as pd
from collections import defaultdict
from sklearn.preprocessing import LabelEncoder

In [3]:
nw_hosp_admissions = pd.read_csv('../data/nw_hosp/admissions.csv')
nw_icu_stays = pd.read_csv('../data/nw_icu/icustays.csv')
icu_ditems = pd.read_csv('../data/nw_icu/d_items.csv')
hosp_lab_items = pd.read_csv('../data/nw_hosp/d_labitems.csv')
chart_events = pd.read_csv('../data/nw_icu/chartevents.csv')
lab_events = pd.read_csv('../data/nw_hosp/labevents.csv')
prescriptions = pd.read_csv('../data/nw_hosp/prescriptions.csv')
procedure_events = pd.read_csv('../data/nw_icu/procedureevents.csv')

In [ ]:
chart_events.head()

In [8]:
cols = ['admission_type', 'admission_location', 'discharge_location', 'insurance', 'language', 'marital_status','race']

#Diccionario de Encoders. Un encoder para cada columna que queremos codificar
d = defaultdict(LabelEncoder)

#Aplicamos el encoder a cada columna del tirón con apply
nw_hosp_admissions[cols] = nw_hosp_admissions[cols].apply(
    lambda x: d[x.name].fit_transform(x)
)

#Sacamos los mapeos de cada columna. Estamos volviendo a codificar, pero solo los valores únicos de cada columna, no toda la columna 
hosp_mappings = {col: dict(zip(d[col].classes_, d[col].transform(d[col].classes_))) 
            for col in cols}


# Para ver los mapeos de cada columna
for col, mapeo in hosp_mappings.items():
    print(f"\nMapeo para '{col}':")
    for valor, codigo in mapeo.items():
        print(f"  {valor} -> {codigo}")

Mapeo para 'admission_type':
  ELECTIVE -> 0
  ELECTIVE-ROUTINE -> 1
  EMERGENCY -> 2
  TRAUMA -> 3
  URGENT -> 4
  nan -> 5

Mapeo para 'admission_location':
  CARDIOLOGY -> 0
  EMERGENCY MEDICINE -> 1
  GASTROENTEROLOGY -> 2
  INTENSIVE CARE -> 3
  MEDICINE -> 4
  NEUROLOGICAL INTENSIVE CARE -> 5
  NEUROLOGY -> 6
  OBSTETRICS -> 7
  OBSTETRICS AND GYNECOLOGY -> 8
  ORTHOPAEDIC SURGERY -> 9
  PEDIATRIC INTENSIVE CARE -> 10
  PEDIATRICS -> 11
  RADIOLOGY -> 12
  RESEARCH -> 13
  SURGERY -> 14
  UNKNOWN -> 15
  nan -> 16

Mapeo para 'discharge_location':
  ACUTE CARE HOSPITAL -> 0
  ACUTE INPATIENT REHABILITATION -> 1
  ADMITTED TO L&D -> 2
  AGAINST MEDICAL ADVICE (AMA) OR ELOPEMENT -> 3
  CANCER CENTER OR CHILDREN'S HOSPITAL -> 4
  CRITICAL ACCESS HOSPITAL -> 5
  DESIGNATED DISASTER ALTERNATIVE CARE SITE -> 6
  ED DISMISSED-NEVER ARRIVED -> 7
  EXPIRED -> 8
  EXPIRED - HOSPICE -> 9
  GIFT OF HOPE / STILL A PATIENT -> 10
  GROUP HOME -> 11
  HOME OR SELF CARE -> 12
  HOME WITH EQUIPMENT OR O2 -> 13
  HOME WITH HOME HEALTH CARE -> 14
  HOME WITH HOSPICE -> 15
  HOME WITH OUTPATIENT SERVICES -> 16
  INPATIENT HOSPICE -> 17
  LEFT AGAINST MEDICAL ADVICE -> 18
  LONG-TERM ACUTE CARE HOSPITAL (LTAC) -> 19
  NURSING HOME (CUSTODIAL) -> 20
  PLANNED READMISSION - DC/TRANSFERRED TO ACUTE INPATIENT REHAB -> 21
  PLANNED READMISSION - DC/TRANSFERRED TO LONG-TERM ACUTE CARE HOSPITAL (LTAC) -> 22
  PLANNED READMISSION - DC/TRANSFERRED TO NURSING HOME (CUSTODIAL) -> 23
  PLANNED READMISSION - DC/TRANSFERRED TO OTHER TYPE OF HEALTHCARE INSTITUTION -> 24
  PLANNED READMISSION - DC/TRANSFERRED TO SKILLED NURSING FACILITY -> 25
  PLANNED READMISSION - DISCHARGED TO HOME/SELF-CARE -> 26
  SHELTER -> 27
  SKILLED NURSING FACILITY OR SUBACUTE REHAB CARE -> 28
  SWING BED -> 29
  UNKNOWN -> 30
  VA SYSTEM FACILITY -> 31

Mapeo para 'insurance':
  BCBS -> 0
  Commercial -> 1
  Commercial/Managed Care -> 2
  Medicaid -> 3
  Medicaid Replacement -> 4
  Medicare -> 5
  Medicare Advantage -> 6
  Non-Contracted/Commercial -> 7
  Pending Medicaid -> 8
  Self-Pay -> 9
  nan -> 10

Mapeo para 'language':
  AFRIKAANS -> 0
  ALBANIAN -> 1
  AMHARIC -> 2
  ARABIC -> 3
  ARMENIAN -> 4
  ASSYRIAN -> 5
  BENGALI -> 6
  BOSNIAN -> 7
  BULGARIAN -> 8
  BURMESE -> 9
  CAMBODIAN -> 10
  CANTONESE-CHINESE -> 11
  CROATIAN -> 12
  CZECH -> 13
  DECLINED TO ANSWER -> 14
  ENGLISH -> 15
  FARSI -> 16
  FRENCH -> 17
  GERMAN -> 18
  GREEK -> 19
  GUJARATI -> 20
  HINDI -> 21
  HUNGARIAN -> 22
  ITALIAN -> 23
  JAPANESE -> 24
  KAREN -> 25
  KHMER -> 26
  KOREAN -> 27
  KURDISH -> 28
  LAOTIAN -> 29
  LITHUANIAN -> 30
  MALAYALAM -> 31
  MANDARIN- CHINESE -> 32
  MONGOLIAN -> 33
  NEPALI -> 34
  POLISH -> 35
  PORTUGUESE -> 36
  PUNJABI -> 37
  ROMANIAN -> 38
  RUSSIAN -> 39
  SERBIAN -> 40
  SIGN LANGUAGE -> 41
  SOMALI -> 42
  SPANISH -> 43
  TAGALOG -> 44
  TAMIL -> 45
  THAI -> 46
  TIGRINYA -> 47
  TOISHANESE- CHINESE -> 48
  TURKISH -> 49
  UKRAINIAN -> 50
  UNKNOWN -> 51
  URDU -> 52
  URDU PAKISTAN -> 53
  VIETNAMESE -> 54
  YORUBA -> 55
  nan -> 56

Mapeo para 'marital_status':
  DIVORCED -> 0
  LEGALLY SEPARATED -> 1
  MARRIED -> 2
  OTHER -> 3
  SEPARATED -> 4
  SIGNIFICANT OTHER -> 5
  SINGLE -> 6
  UNKNOWN -> 7
  WIDOW,WIDOWER -> 8
  WIDOWED -> 9
  nan -> 10

Mapeo para 'race':
  AMERICAN INDIAN OR ALASKA NATIVE -> 0
  ASIAN -> 1
  BLACK/AFRICAN -> 2
  MULTIPLE RACE/ETHNICITY -> 3
  NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER -> 4
  OTHER -> 5
  UNKNOWN -> 6
  WHITE -> 7

In [ ]:
nw_hosp_admissions.head()

61843

In [3]:
cols = ['first_careunit', 'last_careunit']

#Diccionario de Encoders. Un encoder para cada columna que queremos codificar
d = defaultdict(LabelEncoder)

#Aplicamos el encoder a cada columna del tirón con apply
nw_icu_stays[cols] = nw_icu_stays[cols].apply(
    lambda x: d[x.name].fit_transform(x)
)

#Sacamos los mapeos de cada columna. Estamos volviendo a codificar, pero solo los valores únicos de cada columna, no toda la columna 
icu_mappings = {col: dict(zip(d[col].classes_, d[col].transform(d[col].classes_))) 
            for col in cols}


# Para ver los mapeos de cada columna
for col, mapeo in icu_mappings.items():
    print(f"\nMapeo para '{col}':")
    for valor, codigo in mapeo.items():
        print(f"  {valor} -> {codigo}")

Mapeo para 'first_careunit':
  BOARDERS -> 0
  CCU -> 1
  CICU -> 2
  CTICU -> 3
  CTU -> 4
  ICU -> 5
  ICU OVERFLOW -> 6
  IMCU -> 7
  INPATIENT -> 8
  MICU -> 9
  MTU -> 10
  NEUROSCIENCE INPATIENT -> 11
  NICU -> 12
  NSICU -> 13
  ORTHOPEDICS -> 14
  PICU -> 15
  RADIOLOGY -> 16
  SICU -> 17

Mapeo para 'last_careunit':
  BOARDERS -> 0
  CCU -> 1
  CICU -> 2
  CTICU -> 3
  CTU -> 4
  ICU -> 5
  ICU OVERFLOW -> 6
  IMCU -> 7
  INPATIENT -> 8
  MICU -> 9
  MTU -> 10
  NEUROSCIENCE INPATIENT -> 11
  NICU -> 12
  NSICU -> 13
  ORTHOPEDICS -> 14
  PICU -> 15
  SICU -> 16

In [4]:
nw_icu_stays.head()

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
0,30000238,44714428,59801852,3,3,2195-10-14 15:12:00,2195-10-16 14:32:00,1.972222
1,30000246,40653169,55154064,2,2,2104-05-05 18:23:00,2104-05-07 14:26:00,1.835417
2,30000521,46912110,58492193,17,16,2188-04-17 16:46:00,2188-04-18 18:16:00,1.062500
3,30000590,44608425,50707570,13,13,2177-12-09 12:01:00,2177-12-10 16:43:00,1.195833
4,30000828,40615900,57131111,9,1,2124-10-17 23:12:00,2124-10-18 11:57:00,0.531250

In [19]:
cols = ['label']

#Diccionario de Encoders. Un encoder para cada columna que queremos codificar
d = defaultdict(LabelEncoder)

#Aplicamos el encoder a cada columna del tirón con apply
icu_ditems[cols] = icu_ditems[cols].apply(
    lambda x: d[x.name].fit_transform(x)
)

#Sacamos los mapeos de cada columna. Estamos volviendo a codificar, pero solo los valores únicos de cada columna, no toda la columna 
ditems_mapping = {col: dict(zip(d[col].classes_, d[col].transform(d[col].classes_))) 
            for col in cols}


# Para ver los mapeos de cada columna
for col, mapeo in ditems_mapping.items():
    print(f"\nMapeo para '{col}':")
    for valor, codigo in mapeo.items():
        print(f"  {valor} -> {codigo}")

Mapeo para 'label':
  ACTIVITY / POSITIONING WITH MOBILITY -> 0
  ADMIT TO INPATIENT -> 1
  ADMIT TO INPATIENT - CENTRAL -> 2
  ADVANCE DIET AS TOLERATED -> 3
  AIRBORNE PRECAUTIONS -> 4
  AIRWAY CLEARANCE THERAPY -> 5
  AMBULATE PATIENT -> 6
  AMBULATORY OXIMETRY -> 7
  ANTICOAGULATION MANAGEMENT REFERRAL -> 8
  APPLY ICE TO AFFECTED AREA -> 9
  ARTERIAL LINE INSERTION -> 10
  ASPIRATION PRECAUTIONS -> 11
  AVS INSTRUCTIONS: SUGAMMADEX ADMINISTERED -> 12
  BEDREST -> 13
  BP DIASTOLIC -> 14
  BP SYSTOLIC -> 15
  BRONCHOSCOPY -> 16
  CAPNOGRAPHY -> 17
  CARDIAC MONITORING -> 18
  CARDIAC REHAB REFERRAL -> 19
  CARDIAC SURGERY REFERRAL -> 20
  CARDIOLOGY REFERRAL -> 21
  CARDIOVERSION -> 22
  CATH CASE REQUEST -> 23
  CATHETER CARE -> 24
  CENTRAL LINE -> 25
  CENTRAL LINE CARE & MAINTENANCE -> 26
  CHANGE TUBING -> 27
  CHEST TUBE REMOVAL -> 28
  CHEST TUBE TO CONTINUOUS SUCTION -> 29
  CHEST TUBE TO WATER SEAL -> 30
  CLINICAL MANAGEMENT OF PAIN, AGITATION, DELIRIUM IN THE MECHANICALLY VENTILATED CRITICALLY ILL PATIENT -> 31
  CLIP HAIR -> 32
  COMPRESSION STOCKINGS -> 33
  CONGESTIVE HEART FAILURE EDUCATION -> 34
  CONSULT TO ADVANCED CARE PLANNING -> 35
  CONSULT TO BHS SOCIAL WORKER -> 36
  CONSULT TO CARDIAC REHAB NURSE -> 37
  CONSULT TO CARDIOLOGY -> 38
  CONSULT TO CARDIOLOGY ELECTROPHYSIOLOGY SERVICE -> 39
  CONSULT TO CARDIOLOGY GENERAL SERVICE -> 40
  CONSULT TO CARDIOTHORACIC SURGERY -> 41
  CONSULT TO CASE MANAGEMENT -> 42
  CONSULT TO CHEST PAIN NURSE COORDINATOR -> 43
  CONSULT TO CLINICAL SLEEP EDUCATOR -> 44
  CONSULT TO CRITICAL CARE -> 45
  CONSULT TO DENTAL  SERVICE -> 46
  CONSULT TO DERMATOLOGY  SERVICE -> 47
  CONSULT TO DIABETES EDUCATOR -> 48
  CONSULT TO DIETARY -> 49
  CONSULT TO DISCHARGE PLANNING -> 50
  CONSULT TO ELECTROCONVULSIVE THERAPY SERVICE -> 51
  CONSULT TO ELECTROPHYSIOLOGY -> 52
  CONSULT TO ENDOCRINOLOGY -> 53
  CONSULT TO ENDOCRINOLOGY DIABETES MANAGEMENT -> 54
  CONSULT TO ENDOCRINOLOGY SERVICE -> 55
  CONSULT TO ENT -> 56
  CONSULT TO GASTROENTEROLOGY GENERAL SERVICE -> 57
  CONSULT TO GENERAL SURGERY -> 58
  CONSULT TO GI -> 59
  CONSULT TO HEART FAILURE NURSE COORDINATOR - HF EDUCATION -> 60
  CONSULT TO HEMATOLOGY -> 61
  CONSULT TO HEMATOLOGY (BENIGN) SERVICE -> 62
  CONSULT TO HEPATOLOGY  SERVICE -> 63
  CONSULT TO HOSPICE -> 64
  CONSULT TO HOSPITALIST -> 65
  CONSULT TO INFECTIOUS DISEASE MEDICINE/NEURO SERVICE -> 66
  CONSULT TO INFECTIOUS DISEASE SURG/HEME_ONC/OB/GYNE/16W -> 67
  CONSULT TO INFECTIOUS DISEASE TRANSPLANT SERVICE -> 68
  CONSULT TO INFECTIOUS DISEASES -> 69
  CONSULT TO INTERNAL MEDICINE -> 70
  CONSULT TO INTERVENTIONAL PULMONOLOGY SERVICE -> 71
  CONSULT TO INTERVENTIONAL RADIOLOGY -> 72
  CONSULT TO INTERVENTIONAL RADIOLOGY SERVICE -> 73
  CONSULT TO IV TEAM -> 74
  CONSULT TO MEDICINE PERI-OPERATIVE   SERVICE -> 75
  CONSULT TO MICU SERVICE -> 76
  CONSULT TO NEPHROLOGY -> 77
  CONSULT TO NEPHROLOGY ACUTE SERVICE -> 78
  CONSULT TO NEPHROLOGY DIALYSIS SERVICE -> 79
  CONSULT TO NEPHROLOGY ICU SERVICE -> 80
  CONSULT TO NEPHROLOGY TRANSPLANT SERVICE -> 81
  CONSULT TO NEUROLOGY -> 82
  CONSULT TO NEUROLOGY  SERVICE -> 83
  CONSULT TO NEUROSURGERY -> 84
  CONSULT TO NUTRITION SUPPORT TEAM (TPN) -> 85
  CONSULT TO ONCOLOGY -> 86
  CONSULT TO ORTHOPEDIC SURGERY -> 87
  CONSULT TO PALLIATIVE CARE TEAM -> 88
  CONSULT TO PALLIATIVE MEDICINE -> 89
  CONSULT TO PALLIATIVE MEDICINE INPATIENT  SERVICE -> 90
  CONSULT TO PALLIATIVE SOCIAL WORKER -> 91
  CONSULT TO PEDIATRIC HEM/ONC -> 92
  CONSULT TO PHYSICAL MEDICINE REHAB -> 93
  CONSULT TO PODIATRY -> 94
  CONSULT TO PROSTHETICS AND ORTHOTICS -> 95
  CONSULT TO PSYCHIATRIC CONSULT LIAISON SERVICE -> 96
  CONSULT TO PSYCHIATRY -> 97
  CONSULT TO PSYCHOLOGY -> 98
  CONSULT TO PULMONARY SERVICE -> 99
  CONSULT TO PULMONOLOGY -> 100
  CONSULT TO REHABILITATION - RIC (PHYSIATRY) SERVICE -> 101
  CONSULT TO SOCIAL WORKER -> 102
  CONSULT TO SPIRITUAL CARE -> 103
  CONSULT TO UROLOGY -> 104
  CONSULT TO UROLOGY SURGERY SERVICE -> 105
  CONSULT TO WOUND/OSTORMY CARE NURSE -> 106
  CONTACT PLUS PRECAUTIONS -> 107
  CONTACT PRECAUTIONS -> 108
  CONTINUE CARDIAC TELEMETRY ORDER -> 109
  CONTINUOUS PULSE OXIMETRY -> 110
  CONTINUOUS RENAL REPLACEMENT THERAPY -> 111
  CONVERT IV TO SALINE LOCK -> 112
  CRITICAL CARE -> 113
  CT ABDOMEN PELVIS SPIRAL FOR STONE -> 114
  CT ABDOMEN PELVIS W CONTRAST -> 115
  CT ABDOMEN PELVIS WO CONTRAST -> 116
  CT ADMIN CHEST LCS -> 117
  CT BRAIN PERFUSION STROKE -> 118
  CT BRAIN STROKE -> 119
  CT BRAIN WO CONTRAST -> 120
  CT CERVICAL SPINE WO CONTRAST -> 121
  CT CHEST ABDOMEN PELVIS W CONTRAST -> 122
  CT CHEST ABDOMEN PELVIS WO CONTRAST -> 123
  CT CHEST W CONTRAST -> 124
  CT FACE WO CONTRAST -> 125
  CT SOFT TISSUE NECK W CONTRAST -> 126
  CTA ABDOMEN PELVIS W CONTRAST -> 127
  CTA ABDOMEN PELVIS W WO CONTRAST -> 128
  CTA CAROTID -> 129
  CTA CAROTID STROKE -> 130
  CTA CHEST ABDOMEN PELVIS -> 131
  CTA CHEST PE -> 132
  CTA CHEST WITH CONTRAST -> 133
  CTA GATED THORACIC AORTA -> 134
  CTA NON GATED CHEST -> 135
  CVP MONITORING -> 136
  D/C FOLEY/FOLLOW INDWELLING URINARY CATHETER PROTOCOL -> 137
  DAILY WEIGHTS -> 138
  DANGLE AT BEDSIDE -> 139
  DIET -> 140
  DIET INSTRUCTIONS TO NURSING -> 141
  DIETARY SUPPLEMENT -> 142
  DISCHARGE INSTRUCTIONS -> 143
  DISCHARGE PATIENT -> 144
  DISCONTINUE A-LINE -> 145
  DISCONTINUE CENTRAL LINE -> 146
  DISCONTINUE FOLEY -> 147
  DISCONTINUE PERIPHERAL IV -> 148
  DISCONTINUE PULMONARY ARTERY CATHETER (SWAN GANZ) -> 149
  DISCONTINUE SWAN GANZ KEEP INTRODUCER -> 150
  DISCONTINUE UMBILICAL VENOUS LINE -> 151
  DO NOT RESUSCITATE (DNR) -> 152
  DRAIN CARE -> 153
  DRAIN TO BULB SUCTION -> 154
  DROPLET PRECAUTIONS -> 155
  ECHO 2D ONLY ADULT -> 156
  ECHO LIMITED 2D DOPPLER -> 157
  ECHO LIMITED ADULT FOLLOW UP -> 158
  ECMO PUMP SETTINGS -> 159
  EEG -> 160
  EEG CONTINUOUS WITH VIDEO -> 161
  EGD -> 162
  ELECTROCARDIOGRAM -> 163
  ELECTROLYTE REPLACEMENT PROTOCOL -> 164
  ELEVATE EXTREMITY -> 165
  EMMI - HEART DISEASE: LIFESTYLE CHANGES -> 166
  EMMI - HEART FAILURE: BLOOD PRESSURE -> 167
  EMMI - HEART FAILURE: WHEN TO CALL YOUR DOCTOR -> 168
  EMMI - HEART FAILURE: YOUR HEART -> 169
  EMMI- HEART FAILURE - ALCOHOL AND SMOKING -> 170
  EMMI- HEART FAILURE - DAILY WEIGHT -> 171
  EMMI- HEART FAILURE - NEXT APPOINTMENT WITH DOCTOR -> 172
  EMMI- HEART FAILURE - REST AND EXERCISE -> 173
  EMMI- HEART FAILURE - SODIUM -> 174
  EMMI- HEART FAILURE - WATER PILLS AND FLUIDS -> 175
  EMMI- HEART FAILURE - WHAT IT IS -> 176
  EMMI- STROKE - PREVENTING SECONDARY STROKE -> 177
  EMMI- STROKE - PREVENTING STROKE AND TIA -> 178
  EMMI-SMOKING CESSATION: THINKING ABOUT QUITTING SMOKING -> 179
  ENCOURAGE COUGH AND DEEP BREATHING (RN AND PCT WORKLIST) -> 180
  ENCOURAGE USE OF INCENTIVE SPIROMETER (RN AND PCT WORKLIST) -> 181
  EXERCISE OXIMETRY -> 182
  EXTERNAL CATHETER PLACEMENT -> 183
  EXTUBATION / DECANNULATION -> 184
  FALL PRECAUTIONS -> 185
  FLUORO ESOPHAGRAM SINGLE CONTRAST -> 186
  FLUORO LESS THAN 1 HOUR -> 187
  FLUORO VIDEO SWALLOW STUDY -> 188
  GASTROENTEROLOGY REFERRAL -> 189
  HEIGHT -> 190
  HEMODIALYSIS -> 191
  HOLTER MONITOR EXTENDED -> 192
  HOME HEALTH REFERRAL -> 193
  HYPERINFLATION -> 194
  HYPOGLYCEMIA PROTOCOL -> 195
  INCENTIVE SPIROMETRY RT -> 196
  INFECTIOUS DISEASE REFERRAL -> 197
  INSERT MIDLINE -> 198
  INSERT PERIPHERAL IV -> 199
  INSERT PICC LINE -> 200
  INSERT RECTAL TUBE -> 201
  INSERT TEMPERATURE PROBE FOLEY -> 202
  INSERT/MANAGE INDWELLING URINARY CATHETER & FOLLOW PROTOCOL -> 203
  INSERT/MANAGE INDWELLING URINARY CATHETER AND MAINTAIN -> 204
  INSULIN INFUSION CLINICAL PROTOCOL (GENERAL) -> 205
  INTAKE AND OUTPUT -> 206
  INTERNAL MEDICINE REFERRAL -> 207
  INTERVENTIONAL CARDIAC ULTRASOUND -> 208
  INTUBATION -> 209
  INVASIVE CATH PROCEDURE -> 210
  INVASIVE ELECTROPHYSIOLOGY PROCEDURE -> 211
  IP FREE WATER FLUSH -> 212
  IR CVA PLACE NONTUNNELED CATHETER DIALYSIS -> 213
  IR CVA PLACE TUNNELED CATHETER DIALYSIS -> 214
  IR PICC LINE INSERTION -> 215
  IR THORACENTESIS -> 216
  IR US -> 217
  IR US ADD ON -> 218
  MAINTAIN CHRONIC INDWELLING CATHETER -> 219
  MAY USE LINE/DRAIN/TUBE/AIRWAY -> 220
  MAY USE NG TUBE/DOBHOFF TUBE -> 221
  MAY USE PICC -> 222
  MEASURE HEIGHT AND LENGTH -> 223
  MECHANICAL VENTILATION -> 224
  MONITOR -> 225
  MRA BRAIN W WO CONTRAST -> 226
  MRA BRAIN WO CONTRAST -> 227
  MRA CAROTID W WO CONTRAST -> 228
  MRI BRAIN NEURO ONC -> 229
  MRI BRAIN W WO CONTRAST -> 230
  MRI BRAIN WO CONTRAST -> 231
  MRI CARDIAC MORPH W WO CONTRAST -> 232
  MRI CERVICAL SPINE W WO CONTRAST -> 233
  MRI CERVICAL SPINE WO CONTRAST -> 234
  MRI LUMBAR SPINE W WO CONTRAST -> 235
  MRI LUMBAR SPINE WO CONTRAST -> 236
  MRI MRCP ABDOMEN W WO CONTRAST -> 237
  MRI THORACIC SPINE W WO CONTRAST -> 238
  NASOGASTRIC TUBE INSERTION -> 239
  NASOGASTRIC TUBE MAINTENANCE -> 240
  NASOGRASTRIC TUBE DISCONTINUE -> 241
  NEBULIZER TX -> 242
  NEURO INTERVENTIONAL RADIOLOGY REFERRAL AND DCH ONLY -> 243
  NEUROLOGY REFERRAL -> 244
  NON-BRONCHOSCOPIC BRONCIAL ALVEOLAR LAVAGE -> 245
  NON-INVASIVE VENTILATION -> 246
  NPO -> 247
  NUTRITION SCHEDULING -> 248
  OCCUPATIONAL THERAPY REFERRAL -> 249
  OR TRANSESOPHAGEAL ECHO -> 250
  OROGASTRIC TUBE -> 251
  OT TREATMENT PLAN OF CARE -> 252
  OXYGEN THERAPY -> 253
  PACER WIRE REMOVAL -> 254
  PAIN ASSESSMENT -> 255
  PATIENT EDUCATION (SPECIFY) -> 256
  PEAK FLOW -> 257
  PERITONEAL DIALYSIS -> 258
  PHYSICAL THERAPY REFERRAL -> 259
  PLACE IN OBSERVATION STATUS -> 260
  PLACE SEQUENTIAL COMPRESSION DEVICE -> 261
  PT EVAL & TREAT -> 262
  PULM POC ULTRASOUND -> 263
  PULMONARY FUNCTION COMPLETE/FULL PFT -> 264
  PULMONOLOGY REFERRAL -> 265
  PULSE -> 266
  PULSE OXIMETRY -> 267
  R ARTERIAL LINE BLOOD PRESSURE -> 268
  R ARTERIAL LINE BLOOD PRESSURE 2 -> 269
  R BMI -> 270
  REMOVE DRAINS/TUBES -> 271
  REPLACE FEEDING TUBE -> 272
  RESPIRATIONS -> 273
  RESPIRATORY EVAL AND TREAT -> 274
  RESPIRATORY EVAL AND TREAT-INITIATE CPAP/BIPAP -> 275
  SEIZURE PRECAUTIONS -> 276
  SITTER AT BEDSIDE -> 277
  SLP CLINICAL SWALLOW EVALUATION -> 278
  SLP EVAL & TREAT -> 279
  SLP FIBEROPTIC ENDOSCOPIC EVALUATION OF SWALLOWING -> 280
  SLP VIDEOFLUOROSCOPIC SWALLOW STUDY -> 281
  SPONTANEOUS BREATHING TRIAL -> 282
  STAT PULSE OX ONCE IP - NURSING -> 283
  STRAIGHT CATH -> 284
  STROKE EDUCATION -> 285
  SUCTION -> 286
  SUICIDE PRECAUTIONS -> 287
  TAP WATER ENEMA -> 288
  TCD FOR EMBOLI WITHOUT INJECTION -> 289
  TELEMETRY MONITORING -> 290
  TEMPERATURE -> 291
  TRACHEOSTOMY CAPPING/PMV -> 292
  TRANSESOPHAGEAL ECHO -> 293
  TRANSFER PATIENT -> 294
  TRANSFUSE CRYOPRECIPITATE -> 295
  TRANSFUSE PLATELET PHERESIS -> 296
  TUBE FEEDING -> 297
  TUBE FEEDING ADDITIVE -> 298
  TUBE INSERTION -> 299
  TUBE MAINTENANCE -> 300
  TURN COUGH DEEP BREATHE -> 301
  UP WITH ASSISTANCE -> 302
  US ABDOMEN RUQ LIVER GALLBLADDER PANCREAS -> 303
  US DOPPLER VISCERAL COMPLETE -> 304
  US KIDNEY -> 305
  US KIDNEY TRANSPLANT W DOPPLER -> 306
  US LIVER DOPPLER -> 307
  US LIVER TRANSPLANT -> 308
  VASC US ARTERIAL DOPPLER BILAT LE W PRESSURES -> 309
  VASC US CAROTID DUPLEX -> 310
  VASC US RENAL ARTERY DUPLEX -> 311
  VASC US TRANSCRANIAL DOPPLER COMPLETE -> 312
  VASC US VENOUS DUPLEX LE BILATERAL (DVT) -> 313
  VASC US VENOUS DUPLEX LE UNILATERAL (DVT) -> 314
  VASC US VENOUS DUPLEX UE BILATERAL (DVT) -> 315
  VASC US VENOUS DUPLEX UE UNILATERAL (DVT) -> 316
  VASC US VENOUS MAPPING LE BILATERAL -> 317
  VASCULAR SURGERY REFERRAL -> 318
  VITAL CAPACITY/NIF TEST -> 319
  VITAL SIGNS -> 320
  VITAL SIGNS & ALWAYS ON PROTOCOLS -> 321
  WEANING PARAMETERS -> 322
  WEANING PROTOCOL ARDS NET -> 323
  WEIGHT/SCALE -> 324
  WOUND CARE -> 325
  WOUND CARE MANAGEMENT COMPLEX -> 326
  XR ABDOMEN ACUTE SERIES 3 VWS CHEST 1 VW -> 327
  XR ABDOMEN AP -> 328
  XR ABDOMEN AP PORTABLE -> 329
  XR ABDOMEN FOR TUBE PLACEMENT 1 VW -> 330
  XR CHEST 1 VW -> 331
  XR CHEST AP PORTABLE -> 332
  XR CHEST LINE PLACEMENT AT CLOSING -> 333
  XR CHEST PA LAT -> 334
  XR FOOT LT 3 VWS MIN -> 335
  XR FOOT RT 3 VWS MIN -> 336
  XR HIP RT 2 VWS W PELVIS -> 337
  XR LUMBAR SPINE AP LAT -> 338
  XR PANOREX -> 339
  XR PELVIS AP -> 340

In [20]:
icu_ditems.head()

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,300001,270,BMI,chartevents,General,Kg/m^2,Numeric,NaN,NaN
1,320045,266,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN
2,320050,268,ABPs,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,NaN
3,320050,269,ABPs,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,NaN
4,320051,268,ABPd,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,NaN

In [21]:
cols = ['label', 'fluid', 'category']

#Diccionario de Encoders. Un encoder para cada columna que queremos codificar
d = defaultdict(LabelEncoder)

#Aplicamos el encoder a cada columna del tirón con apply
hosp_lab_items[cols] = hosp_lab_items[cols].apply(
    lambda x: d[x.name].fit_transform(x)
)

#Sacamos los mapeos de cada columna. Estamos volviendo a codificar, pero solo los valores únicos de cada columna, no toda la columna 
lab_items_mapping = {col: dict(zip(d[col].classes_, d[col].transform(d[col].classes_))) 
            for col in cols}


# Para ver los mapeos de cada columna
for col, mapeo in lab_items_mapping.items():
    print(f"\nMapeo para '{col}':")
    for valor, codigo in mapeo.items():
        print(f"  {valor} -> {codigo}")

Mapeo para 'label':
  % Hemoglobin A1c -> 0
  25-OH Vitamin D -> 1
  Absolute Basophil Count -> 2
  Absolute Eosinophil Count -> 3
  Absolute Lymphocyte Count -> 4
  Absolute Monocyte Count -> 5
  Absolute Neutrophil Count -> 6
  Acetaminophen -> 7
  Alanine Aminotransferase (ALT) -> 8
  Albumin -> 9
  Albumin, Body Fluid -> 10
  Albumin, Urine -> 11
  Alkaline Phosphatase -> 12
  Alpha-Fetoprotein -> 13
  Ammonia -> 14
  Amorphous Crystals -> 15
  Amylase -> 16
  Amylase, Body Fluid -> 17
  Anion Gap -> 18
  Anti-SARS-CoV-2 IgG -> 19
  Anti-Thyroglobulin Antibodies -> 20
  Asparate Aminotransferase (AST) -> 21
  Bacteria -> 22
  Bands -> 23
  Basophils -> 24
  Beta Hydroxybutyrate -> 25
  Beta-2 Microglobulin -> 26
  Bilirubin, Direct -> 27
  Bilirubin, Total -> 28
  Bilirubin, Total, Ascites -> 29
  Bilirubin, Total, Body Fluid -> 30
  Bilirubin, Total, Pleural -> 31
  Blasts -> 32
  C-Reactive Protein -> 33
  C. diff PCR -> 34
  C3 -> 35
  C4 -> 36
  CA 19-9 -> 37
  CA-125 -> 38
  CD19 % -> 39
  CD20 % -> 40
  CD3 Cells, Percent -> 41
  CD4 Cells, Percent -> 42
  CD4/CD8 Ratio -> 43
  CK-MB Index -> 44
  CMV IgG Ab -> 45
  CMV IgM Ab -> 46
  Calcium Carbonate Crystals -> 47
  Calcium Oxalate Crystals -> 48
  Calcium Phosphate Crystals -> 49
  Calcium, Total -> 50
  Calcium, Urine -> 51
  Calculated Thyroxine (T4) Index -> 52
  Carbamazepine -> 53
  Carboxyhemoglobin -> 54
  Carcinoembyronic Antigen (CEA) -> 55
  Cellular Cast -> 56
  Chloride -> 57
  Chloride, Urine -> 58
  Cholesterol Ratio (Total/HDL) -> 59
  Cholesterol, Ascites -> 60
  Cholesterol, Body Fluid -> 61
  Cholesterol, HDL -> 62
  Cholesterol, LDL, Calculated -> 63
  Cholesterol, LDL, Measured -> 64
  Cholesterol, Pleural -> 65
  Cholesterol, Total -> 66
  CoVIgGV -> 67
  Cortisol -> 68
  Creatine Kinase (CK) -> 69
  Creatine Kinase, MB Isoenzyme -> 70
  Creatinine -> 71
  Creatinine Clearance -> 72
  Creatinine, Ascites -> 73
  Creatinine, Body Fluid -> 74
  Creatinine, Urine -> 75
  Cyclosporin -> 76
  Cysteine Crystals -> 77
  D-Dimer -> 78
  DHEA-Sulfate -> 79
  Digoxin -> 80
  Eosinophils -> 81
  Estradiol -> 82
  Ethylene Glycol -> 83
  Factor II -> 84
  Factor VIII -> 85
  Ferritin -> 86
  FetalFN -> 87
  Fibrinogen, Functional -> 88
  Folate -> 89
  Follicle Stimulating Hormone -> 90
  Free Calcium -> 91
  Free Kappa -> 92
  Free Kappa/Free Lambda Ratio -> 93
  Free Lambda -> 94
  Gamma Glutamyltransferase -> 95
  Gentamicin -> 96
  Globulin -> 97
  Glucose -> 98
  Glucose, Ascites -> 99
  Glucose, Body Fluid -> 100
  Glucose, CSF -> 101
  Glucose, Pleural -> 102
  Granular Casts -> 103
  H. pylori IgG Ab -> 104
  Haptoglobin -> 105
  Hematocrit -> 106
  Hematocrit, Other Fluid -> 107
  Hemoglobin -> 108
  Hemoglobin A2 -> 109
  Hemoglobin C -> 110
  Hemoglobin F -> 111
  Hemogloblin A -> 112
  Hemogloblin S -> 113
  Hepatitis B Viral Load -> 114
  High-Sensitivity CRP -> 115
  Homocysteine -> 116
  Human Chorionic Gonadotropin -> 117
  Hyaline Casts -> 118
  INR(PT) -> 119
  Immature Granulocytes -> 120
  Immunofixation -> 121
  Immunofixation, Urine -> 122
  Immunoglobulin A -> 123
  Immunoglobulin G -> 124
  Immunoglobulin M -> 125
  Influenza A H1 -> 126
  Influenza A by PCR -> 127
  Influenza B by PCR -> 128
  Iron -> 129
  Iron Binding Capacity, Total -> 130
  Joint Crystals, Birefringence -> 131
  Ketone -> 132
  Lactate -> 133
  Lactate Dehydrogenase (LD) -> 134
  Lactate Dehydrogenase, Ascites -> 135
  Lactate Dehydrogenase, Pleural -> 136
  Leucine Crystals -> 137
  Lipase -> 138
  Lithium -> 139
  Luteinizing Hormone -> 140
  Lymphocytes -> 141
  Lymphs -> 142
  MCH -> 143
  MCHC -> 144
  MCV -> 145
  Macrophage -> 146
  Magnesium -> 147
  Magnesium, Urine -> 148
  Metamyelocytes -> 149
  Methemoglobin -> 150
  Monocytes -> 151
  Monospot, Rapid Antigen -> 152
  Mumps IgG Ab Value -> 153
  NTproBNP -> 154
  Neutrophils -> 155
  Nucleated Red Cells -> 156
  Osmolality, Measured -> 157
  Osmolality, Urine -> 158
  Oxygen -> 159
  Oxygen Saturation -> 160
  PEEP -> 161
  PT -> 162
  PTT -> 163
  Parainfluenza 4 -> 164
  Parathyroid Hormone -> 165
  Phenobarbital -> 166
  Phenytoin -> 167
  Phosphate -> 168
  Phosphate, Urine -> 169
  Plasma Cells -> 170
  Platelet Count -> 171
  Potassium -> 172
  Potassium, Urine -> 173
  Potassium, Whole Blood -> 174
  Prolactin -> 175
  Promyelocytes -> 176
  Prostate Specific Antigen -> 177
  Prot. Electrophoresis, Urine -> 178
  Protein -> 179
  Protein Electrophoresis -> 180
  Protein, Total -> 181
  Protein/Creatinine Ratio -> 182
  RBC -> 183
  RBC, Other Fluid -> 184
  RDW -> 185
  Rapamycin -> 186
  Red Blood Cells -> 187
  Reflex Confirmatory Hepatitis C Viral Load -> 188
  Rheumatoid Factor -> 189
  Rubella IgG Ab -> 190
  Rubeola IgG Ab -> 191
  Salicylate -> 192
  Sex Hormone Binding Globulin -> 193
  Sodium -> 194
  Sodium, Urine -> 195
  Sodium, Whole Blood -> 196
  Specific Gravity -> 197
  Testosterone -> 198
  Thyroglobulin -> 199
  Thyroid Peroxidase Antibodies -> 200
  Thyroid Stimulating Hormone -> 201
  Thyroxine (T4) -> 202
  Thyroxine (T4), Free -> 203
  Tidal Volume -> 204
  Tissue Transglutaminase Ab, IgA -> 205
  Total CO2 -> 206
  Total Protein, Body Fluid -> 207
  Total Protein, CSF -> 208
  Total Protein, Urine -> 209
  Toxoplasma IgG Ab Value -> 210
  Toxoplasma IgM Ab Value -> 211
  Toxoplasma Interpretation -> 212
  Transferrin -> 213
  Treponema pallidum (Syphilis) Ab -> 214
  Triglycer -> 215
  Triglycerides -> 216
  Triglycerides, Ascites -> 217
  Triglycerides, Pleural -> 218
  Triiodothyronine (T3) -> 219
  Triple Phosphate Crystals -> 220
  Troponin I -> 221
  Troponin T -> 222
  Urea Nitrogen -> 223
  Urea Nitrogen, Body Fluid -> 224
  Urea Nitrogen, Urine -> 225
  Uric Acid -> 226
  Uric Acid Crystals -> 227
  Uric Acid, Urine -> 228
  Urine Casts, Other -> 229
  Urine Mucous -> 230
  Urobilinogen -> 231
  VZV IgG Ab -> 232
  Valproic Acid -> 233
  Vancomycin -> 234
  Ventilator -> 235
  Vitamin B12 -> 236
  Von Willebrand Factor Antigen -> 237
  WBC -> 238
  WBC Casts -> 239
  WBC Clumps -> 240
  Waxy Casts -> 241
  White Blood Cells -> 242
  Yeast -> 243
  eAG -> 244
  pH -> 245
  tacroFK -> 246

Mapeo para 'fluid':
  Ascites -> 0
  Blood -> 1
  Cerebrospinal Fluid -> 2
  Joint Fluid -> 3
  Other Body Fluid -> 4
  Pleural -> 5
  Stool -> 6
  Urine -> 7

Mapeo para 'category':
  Blood Gas -> 0
  Chemistry -> 1
  Hematology -> 2

In [22]:
chart_events.head()

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,30000246,40653169,55154064,NaN,2104-05-05 18:40:00,2104-05-05 18:47:00,320045,58.0,58.0,bpm,NaN
1,30000246,40653169,55154064,NaN,2104-05-05 18:40:00,2104-05-05 18:47:00,320179,134.0,134.0,mmHg,NaN
2,30000246,40653169,55154064,NaN,2104-05-05 18:40:00,2104-05-05 18:47:00,320180,81.0,81.0,mmHg,NaN
3,30000246,40653169,55154064,NaN,2104-05-05 18:40:00,2104-05-05 18:47:00,320210,13.0,13.0,insp/min,NaN
4,30000246,40653169,55154064,NaN,2104-05-05 18:40:00,2104-05-05 18:47:00,320277,96.0,96.0,%,NaN

In [ ]:
prescriptions.head()

In [23]:
distinct_patients_hosp = nw_hosp_admissions['subject_id'].nunique()
print(f"Number of distinct hospital patients: {distinct_patients_hosp}")

distinct_patients_icu = nw_icu_stays['subject_id'].nunique()
print(f"Number of distinct ICU patients: {distinct_patients_icu}")

common_patients = set(nw_hosp_admissions['subject_id']).intersection(set(nw_icu_stays['subject_id']))
print(f"Number of patients in both datasets: {len(common_patients)}")

Number of distinct hospital patients: 25923
Number of distinct ICU patients: 23204
Number of patients in both datasets: 23204

In [24]:

cols_hosp = ['subject_id', 'hadm_id']
hosp_admissions = nw_hosp_admissions.loc[:, cols_hosp]

hosp_admissions.head()

   subject_id   hadm_id
0    30000238  44714428
1    30000246  40653169
2    30000246  43974039
3    30000246  45869139
4    30000521  40796332

In [25]:
cols_icu = ['subject_id', 'stay_id']
icu_stays = nw_icu_stays.loc[:, cols_icu]
icu_stays.head()

   subject_id   stay_id
0    30000238  59801852
1    30000246  55154064
2    30000521  58492193
3    30000590  50707570
4    30000828  57131111

In [26]:
joined_data = pd.merge(hosp_admissions, icu_stays, on='subject_id', how='inner')
joined_data.head()

   subject_id   hadm_id   stay_id
0    30000238  44714428  59801852
1    30000246  40653169  55154064
2    30000246  43974039  55154064
3    30000246  45869139  55154064
4    30000521  40796332  58492193

In [27]:
number_of_rows = joined_data.shape[0]
print(f"Number of rows in the joined dataset: {number_of_rows}")

number_of_unique_patients = joined_data['subject_id'].nunique()
print(f"Number of unique patients in the joined dataset: {number_of_unique_patients}")

Number of rows in the joined dataset: 82116
Number of unique patients in the joined dataset: 23204

In [28]:
cols = joined_data.columns
hadm_col = 'hadm_id' if 'hadm_id' in cols else next((c for c in cols if 'hadm' in c), None)
stay_col = 'stay_id' if 'stay_id' in cols else next((c for c in cols if 'stay' in c or 'icustay' in c), None)

aggs = {}
if hadm_col:
    aggs['hospital_stay_count'] = (hadm_col, 'nunique')
if stay_col:
    aggs['icu_stay_count'] = (stay_col, 'nunique')

patient_counts = joined_data.groupby('subject_id').agg(**aggs).reset_index()

# asegurar columnas y tipos
if 'hospital_stay_count' not in patient_counts.columns:
    patient_counts['hospital_stay_count'] = 0
if 'icu_stay_count' not in patient_counts.columns:
    patient_counts['icu_stay_count'] = 0

patient_counts['hospital_stay_count'] = patient_counts['hospital_stay_count'].astype(int)
patient_counts['icu_stay_count'] = patient_counts['icu_stay_count'].astype(int)

patient_counts = patient_counts.sort_values(by=['hospital_stay_count', 'icu_stay_count'], ascending=False)


patient_counts.head()

       subject_id  hospital_stay_count  icu_stay_count
9687     34172231                   47               1
12868    35568721                   42               1
22630    39757072                   41               2
7645     33282566                   35              10
752      30311241                   34               2

In [29]:
multiple_hosp_stays = patient_counts[patient_counts['hospital_stay_count'] > 1]
print(f"Number of patients with multiple hospital stays: {multiple_hosp_stays.shape[0]}")
multiple_hosp_stays.head()

Number of patients with multiple hospital stays: 12322

       subject_id  hospital_stay_count  icu_stay_count
9687     34172231                   47               1
12868    35568721                   42               1
22630    39757072                   41               2
7645     33282566                   35              10
752      30311241                   34               2

In [30]:
# 597 pacientes con múltiples estancias en la UCI tienen una unica estancia hospitalaria
multiple_icu_stays = patient_counts[patient_counts['icu_stay_count'] > 1]
print(f"Number of patients with multiple ICU stays: {multiple_icu_stays.shape[0]}")
multiple_icu_stays.head()

Number of patients with multiple ICU stays: 3860

       subject_id  hospital_stay_count  icu_stay_count
22630    39757072                   41               2
7645     33282566                   35              10
752      30311241                   34               2
22239    39585304                   32              20
12589    35452644                   32               3

In [31]:

one_hosp_stay_multiple_icu = multiple_icu_stays[multiple_icu_stays['hospital_stay_count'] == 1]
one_hosp_stay_multiple_icu.head()

       subject_id  hospital_stay_count  icu_stay_count
8618     33701011                    1               5
18858    38127711                    1               5
20346    38746252                    1               5
1436     30615230                    1               4
9282     33974685                    1               4

In [32]:
#De los 597, un 36% tienen fecha de fallecimiento asociada a la estancia hospitalaria
hosp_reports = pd.merge(nw_hosp_admissions, one_hosp_stay_multiple_icu[['subject_id']], on='subject_id', how='inner')
hosp_reports.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,30010964,43002475,2130-02-14 06:45:00,2130-03-16 19:21:00,2130-03-16 18:30:00,2,NaN,1,8,5,15,6,7,2130-02-14 01:03:00,2130-02-14 06:45:00,0
1,30043338,43548391,2175-07-11 03:00:00,2175-08-21 21:39:00,2175-08-21 17:33:00,4,NaN,16,8,5,15,6,2,NaN,NaN,0
2,30081242,42067774,2175-05-29 20:56:00,2175-06-16 14:48:00,NaN,4,NaN,16,28,5,15,9,3,NaN,NaN,0
3,30086735,44565426,2185-03-06 13:39:00,2185-03-21 21:06:00,2185-04-01 19:29:00,2,NaN,1,28,5,15,9,7,2185-03-06 11:01:00,2185-03-06 17:02:00,0
4,30088775,45068329,2122-01-11 14:39:00,2122-01-19 14:00:00,NaN,4,NaN,16,12,5,15,2,7,NaN,NaN,0